.date-time-input {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    ion-datetime-button {
        display: inline;
    }
}

.submit-button {
    display: flex;
    justify-content: center;
}